{#{% extends 'base.html.twig' %}#}

{#{% block body %}#}
    {#<h1>Insumos list</h1>#}

    {#<table>#}
        {#<thead>#}
            {#<tr>#}
                {#<th>Id</th>#}
                {#<th>Name</th>#}
                {#<th>Active</th>#}
                {#<th>Actions</th>#}
            {#</tr>#}
        {#</thead>#}
        {#<tbody>#}
        {#{% for insumo in insumos %}#}
            {#<tr>#}
                {#<td><a href="{{ path('insumo_show', { 'id': insumo.id }) }}">{{ insumo.id }}</a></td>#}
                {#<td>{{ insumo.name }}</td>#}
                {#<td>{% if insumo.active %}Yes{% else %}No{% endif %}</td>#}
                {#<td>#}
                    {#<ul>#}
                        {#<li>#}
                            {#<a href="{{ path('insumo_show', { 'id': insumo.id }) }}">show</a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a href="{{ path('insumo_edit', { 'id': insumo.id }) }}">edit</a>#}
                        {#</li>#}
                    {#</ul>#}
                {#</td>#}
            {#</tr>#}
        {#{% endfor %}#}
        {#</tbody>#}
    {#</table>#}

    {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('insumo_new') }}">Create a new insumo</a>#}
        {#</li>#}
    {#</ul>#}
{#{% endblock %}#}


{% extends 'template/table.html.twig' %}

{% block TableTitle %} Tabla Insumo {% endblock %}

{% block URLnuevoElemento %} {{ path('insumo_new') }} {% endblock %}

{% block headtable %}

    <tr>
        <th>Nombre</th>
        <th>UM</th>
        {#<th>Mostrar</th>#}
        <th>Editar</th>
    </tr>

{% endblock %}


{% block bodytable %}
    {% for item in insumos %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.um }}</td>
            {#<td><a class="btn btn-outline btn-circle btn-sm green" href="{{ path('insumo_show', { 'id': item.id }) }}"><i class="fa fa-eye"></i> Mostrar</a></td>#}
            <td><a class="btn btn-outline btn-circle btn-sm purple" href="{{ path('insumo_edit', { 'id': item.id }) }}"><i class="fa fa-edit"></i> Editar</a></td>
        </tr>
    {% endfor %}
{% endblock %}