{% extends 'template/table.html.twig' %}

{% block TableTitle %} Cuentas de Usuario {% endblock %}

{% block URLnuevoElemento %} {{ path('um_new') }} {% endblock %}

{% block headtable %}

    <tr>
        <th>Nombre</th>
        <th>Rol</th>
        <th>Activo</th>
        {#<th>Mostrar</th>#}
        <th>Editar</th>
    </tr>

{% endblock %}


{% block bodytable %}
    {% for item in registerUser %}
        <tr>
            <td>{{ item.username }}</td>
            <td>{{ item.role }}</td>
            <td>{{ item.isActive }}</td>
            {#<td><a class="btn btn-outline btn-circle btn-sm green" href="{{ path('um_show', { 'id': item.id }) }}"><i class="fa fa-eye"></i> Mostrar</a></td>#}
            <td><a class="btn btn-outline btn-circle btn-sm purple" href="{{ path('usermanager_edit', { 'id': item.id }) }}"><i class="fa fa-edit"></i> Editar</a></td>
        </tr>
    {% endfor %}
{% endblock %}