{% extends 'template/table.html.twig' %}

{% block TableTitle %} Cuentas de Usuario {% endblock %}

{% block URLnuevoElemento %} {{ path('usermanager_new') }} {% endblock %}

{% block headtable %}

    <tr>
        <th>Nombre</th>
        <th>Rol</th>
        <th>Activo</th>
        {#<th>Mostrar</th>#}
        <th>Editar</th>
        <th>Borrar</th>
    </tr>

{% endblock %}


{% block bodytable %}
    {% for item in registerUser %}

        {% if item.hide == 0 %}{#Comprobar que no este borrado el usuario#}
            <tr>
                <td>{{ item.username }}</td>

                {#***********Comprobar Rol**************************#}
                {% if item.role == "ROLE_ADMIN" %}
                    <td>Administrador</td>
                {% elseif item.role == "ROLE_USER" %}
                    <td>Usuario</td>
                {% endif %}
                {#***********END Comprobar Rol**********************#}


                {#************Comprobar Activo**********************#}
                {% if item.isActive == 1 %}
                    <td>Si</td>
                {% elseif item.isActive == 0 %}
                    <td>No</td>
                {% endif %}
                {#***********END Comprobar Activo*******************#}


                {#<td><a class="btn btn-outline btn-circle btn-sm green" href="{{ path('um_show', { 'id': item.id }) }}"><i class="fa fa-eye"></i> Mostrar</a></td>#}
                <td><a class="btn btn-outline btn-circle btn-sm purple"
                       href="{{ path('usermanager_edit', { 'id': item.id }) }}"><i class="fa fa-edit"></i> Editar</a>
                </td>
                <td><a class="btn btn-outline btn-circle btn-sm red"
                       href="{{ path('usermanager_delete', { 'id': item.id }) }}"><i class="fa fa-trash"></i> Borrar</a>
                </td>
            </tr>
        {% endif %}

    {% endfor %}
{% endblock %}