{#{% extends 'base.html.twig' %}#}

{#{% block body %}#}
    {#<h1>Ums list</h1>#}

    {#<table>#}
        {#<thead>#}
            {#<tr>#}
                {#<th>Id</th>#}
                {#<th>Name</th>#}
                {#<th>Um</th>#}
                {#<th>Description</th>#}
                {#<th>Active</th>#}
                {#<th>Actions</th>#}
            {#</tr>#}
        {#</thead>#}
        {#<tbody>#}
        {#{% for um in ums %}#}
            {#<tr>#}
                {#<td><a href="{{ path('um_show', { 'id': um.id }) }}">{{ um.id }}</a></td>#}
                {#<td>{{ um.name }}</td>#}
                {#<td>{{ um.um }}</td>#}
                {#<td>{{ um.description }}</td>#}
                {#<td>{% if um.active %}Yes{% else %}No{% endif %}</td>#}
                {#<td>#}
                    {#<ul>#}
                        {#<li>#}
                            {#<a href="{{ path('um_show', { 'id': um.id }) }}">show</a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a href="{{ path('um_edit', { 'id': um.id }) }}">edit</a>#}
                        {#</li>#}
                    {#</ul>#}
                {#</td>#}
            {#</tr>#}
        {#{% endfor %}#}
        {#</tbody>#}
    {#</table>#}

    {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('um_new') }}">Create a new um</a>#}
        {#</li>#}
    {#</ul>#}
{#{% endblock %}#}

{% extends 'template/table.html.twig' %}

{% block TableTitle %} Tabla Unidad de Medida {% endblock %}

{% block URLnuevoElemento %} {{ path('um_new') }} {% endblock %}

{% block headtable %}

    <tr>
        <th>Name</th>
        <th>Um</th>
        <th>Description</th>
        {#<th>Mostrar</th>#}
        <th>Editar</th>
    </tr>

{% endblock %}


{% block bodytable %}
    {% for item in ums %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.um }}</td>
            <td>{{ item.description }}</td>
            {#<td><a class="btn btn-outline btn-circle btn-sm green" href="{{ path('um_show', { 'id': item.id }) }}"><i class="fa fa-eye"></i> Mostrar</a></td>#}
            <td><a class="btn btn-outline btn-circle btn-sm purple" href="{{ path('um_edit', { 'id': item.id }) }}"><i class="fa fa-edit"></i> Editar</a></td>
        </tr>
    {% endfor %}
{% endblock %}