{{ form_start(form) }}

{{ form_row(form.username) }}
{{ form_row(form.role) }}
{{ form_row(form.plainpassword.first) }}
{{ form_row(form.plainpassword.second) }}

<button type="submit" >Registrar</button>

{{ form_end(form) }}